<!DOCTYPE html>
<html>
<head>
<title>Containers</title>
</head>
<body>
<h1> Container as a Service</h1>
<ul>
<li><p> Container-as-a-Service is a form of container-based virtualization that provides the runtime environment, orchestration tools, and all underlying infrastructure resources through a cloud computing provide.
<li><p> The CaaS model is designed to help both developers and IT departments develop, run and manage containerized applications. In a CaaS model, containers and clusters are provided as a service that can be deployed in on-site data centers or in the cloud.
<li><p> CaaS allows users to start, stop, scale and manage containers using a provider’s API calls or web portal interface.
<li><p> Container technology is growing rapidly and virtualization services at operating system level are found in almost all public cloud providers like:
<li><p> AWS Elastic Containers Service (ECS)-Amazon Web Series Elastic Container Service (Amazon ECS) is a highly scalable, fast container management service that makes it easy to run, stop, and manage containers on a cluster.
<li><p> Azure Container Services (ACS) -Azure offers an easy to use  and fastest way to run a container without using virtual machines. Azure Kubernetes Services (AKS) offers serverless Kubernetes. For deployment, scaling and managing docker containers and container based-applications a user can use AKS.
<li><p> Google Container Engine-Google Kubernetes Engine (GKE) uses Google infrastructure to manage environment for deploying, managing, and scaling your containerized applications. 


</ul>
<center><img src="https://image.slidesharecdn.com/caas-march-2016-160302175127-160303011542/95/containers-as-a-service-with-docker-9-638.jpg?cb=1456967851" 
	width = "500"
	height = "200" />
</body>
</html>